// Archivo con las variables del proyecto
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

// ---------------------
// Colors
// ---------------------
$colors: (
  primary: #134A6C,
  secondary: #EF3E36,
  text: #242C3D
);

// ---------------------
// Typography
// ---------------------
$fonts: (
  primary: 'Open Sans',
  secondary: 'Roboto'
);